log/development.log
tmp/*
.env
/app/assets/builds/*
!/app/assets/builds/.keep

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.byebug_history
/config/master.key

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets