<section class="text-gray-600 -m-5 body-font container">
  <div class="flex flex-wrap flex-col justify-center items-center">
    <div class="border-b-2 w-full lg:w-1/2"></div>
    <%= render @circle_posts %>
  </div>
  <div class="mx-auto text-center my-4">
    <%= will_paginate %>
  </div>
</section>