<div class="container mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-40">
    <div class="w-full font-mono flex flex-col items-center relative z-10">
        <h1 class="font-extrabold text-5xl text-center text-black leading-tight mt-4">
          サーバーでエラーが起こってます
        </h1>
        <p class="font-extrabold text-8xl my-44 text-black animate-bounce">
            505
        </p>
        <%= link_to "KURAKAN", "/" %>
    </div>
</div>